@import '../../vars.css';

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background:linear-gradient(180deg, #1fa58cbc 0%, #0e4b40) ;
    padding: 18px 24px;
    max-width: 345px;
    min-height: 400px;
}

.img {
    margin-bottom: 26px;
    height: 150px;
    max-width: 300px;
}
.title {
    font-size: 25px;
    font-weight: 700;
}
.description {
    margin-top: 6px;
    font-size: 25px;
    font-weight: 400;
}
.skills {
    width: 100%;
    margin-top: 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
    list-style: none;
}

.skill {
    color: var(--color-theme);
    font-size: 20px;
    font-weight: 400;
    border-radius: 100px;
    background-color: var(--color-bg);
    padding: 2px 20px;
}

.links {
    position: relative;
    width: 100%;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    bottom: 5px;
}

.link {
    text-decoration: none;
    color:  #0c4137;;
    font-size: 20px;
    font-weight: 600;
    border-radius: 100px;
    background:  #1d9e87;;
    padding: 1px 22px;
}